:root{
  --colors-darkBlue: #3f576f;
  --colors-contrastBlue: #277ffd;
  --colors-lightBlue: #f2f4ff;
  --colors-gray: #9496a2;
  --colors-lightGray: #a6aaac;
}
header{
  background-color: var(--colors-darkBlue) !important;
  border-bottom: 1px solid var(--colors-lightBlue);
}
.footer{
  padding: 20px 0;
  border-top: 1px solid var(--colors-lightBlue);
  background-color: var(--colors-darkBlue);
  color: var(--colors-lightBlue);
}
.footer strong{
  margin: 0 5px;
}
/* @import url('./productsList.css'); */

