.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
}
.overlay form{
    position: absolute;
    z-index: 1500;
    background-color: white;
    padding:  20px;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}
.clear{
    display: block;
}
.hidden{
    display: none;
}
.overlay  form div input{
    background-color: #fff;
    border: 1px solid #616267;
    font-size: 16px;
    box-shadow: none;
    display: block;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
}
.overlay form .add-product{
    color: white;
    padding: 5px 35px;
    border-radius: 8px;
    outline: none;
    background-color: #035fA4;
    border-color:#035fA4 ;
}